body{
    background-color: lightsteelblue;
    text-align: center;
}
  
.counties-borders {
    fill: none;
    stroke: lightsteelblue;
    stroke-width: 1px;
}

p{
    float: right;
    padding-right: 100px;
}